<%- include('../layouts/header.ejs')%>
<h1><%= title %></h1>
<div class="form-content">
  <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="name">Task Name</label>
      <input type="text" id="name" name="title" pattern="[A-Za-z ]+" value="<%=task.title%>" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" required><%=task.description%></textarea>
    </div>
    <div class="form-group">
      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" value="<%=formattedDueDate%>" required>
    </div>
    <div class="form-group">
      <label>Project:</label>
      <select name="project">
        <% projects.forEach(project => { %>
        <option value="<%= project._id %>" <%= task.project && project._id.toString() === task.project._id.toString() ? 'selected' : '' %>>
          <%= project.name %>
        </option>
        <% }) %>
      </select>
    </div>
    <div class="form-group">
      <a href="/tasks">Go Back</a>
      <button type="submit">Edit</button>
    </div>
  </form>
</div>

<%- include('../layouts/footer.ejs')%>