<%- include('../layouts/header.ejs')%>
<section class="task-container">
  <div class="page-header">
    <!-- Task Title -->
    <div class="page-title">
      <h1><%= title %></h1>
      <!-- Add Task Btn-->
      <a href="/Tasks/new"><span class="material-symbols-outlined">add_box</span></a>
      <!-- Add Task Btn Ends-->
    </div>
    <!-- Task Title Ends -->
    <!-- Task Filter  -->
    <div class="page-filter">
      <label for="sort">Sort By</label>
      <select name="sort" id="TaskFilter">
        <option value="">...</option>
        <option value="recent" selected>Recent Task</option>
        <option value="finished">Finished Task</option>
        <option value="ongoing">Ongoing Task</option>
        <option value="stalled">Stalled Task</option>
      </select>
    </div>
    <!-- Task Filter Ends -->
  </div>
  <!-- Task List -->
  <div class="task-list">
    <% if (tasks.length === 0) { %>
    <p>Please add a task.</p>
    <% } else { %>
    <% tasks.forEach(task => { %>
    <div class="task" id="task-<%= task._id %>" style="<%= task.isComplete ? 'filter: blur(2px) grayscale(1);' : '' %>">
      <div class="card-content">
        <h2><%= task.title %></h2>
        <textarea class="textarea" rows="4" readonly><%= task.description %></textarea>
        <% if (task.project && task.project.name) { %>
        <p><span>Project: </span><%= task.project.name %> </p>
        <% } %>
      </div>

      <div class="card-action">
        <input type="checkbox" name="check" class="checkbox-filter-none" <% if (task.isComplete) { %> checked <% } %> onchange="toggleComplete('<%= task._id %>')">
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
          <button type="submit"><span class="material-symbols-outlined">delete</span></button>
        </form>
        <a href="/tasks/<%= task._id %>/edit"><span class="material-symbols-outlined">edit</span></a>
      </div>
    </div>
    <% }); %>
    <% } %>
  </div>
  <!-- Task List Ends -->
</section>
<%- include('../layouts/footer.ejs')%>

<!-- Helper Function -->
<script>
  async function toggleComplete(taskId) {
    try {
      const response = await fetch(`/tasks/${taskId}/toggle`, {
        method: 'POST',
      });

      if (response.ok) {
        const taskEl = document.getElementById(`task-${taskId}`);
        const checkbox = taskEl.querySelector('input[type="checkbox"]');

        console.log(taskEl)

        // Update the isComplete
        const isComplete = checkbox.checked;

        // Toggle styles
        if (isComplete) {
          taskEl.style.filter = 'blur(2px) grayscale(1)';
          checkbox.style.filter = "";
        } else {
          taskEl.style.filter = '';
        }
      } else {
        throw new Error('Failed to toggle isComplete status');
      }
    } catch (error) {
      console.error(error);
    }
  }
</script>
<!-- Helper Function Ends -->